# -----------------------------------
# OS FILES
# -----------------------------------
.DS_Store
Thumbs.db

# -----------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*.local

# Build outputs
dist/
build/
out/

# Logs
logs/
*.log
*.log.*
debug.log

# Temporary files
.tmp/
temp/

# Cache
.cache/
.eslintcache/
.stylelintcache/
vite.config.ts.timestamp-*
vite.config.js.timestamp-*

# -----------------------------------
# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# -----------------------------------
*.tsbuildinfo
