.container {
  display: flex;
  height: 100dvh;
  min-height: -webkit-fill-available;
  width: 100vw;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: #333;
  transition: margin-left 0.3s ease;
}

/* Media query */

@media (min-width: 769px) {
  .mainContent {
    margin-left: 290px;
  }
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 0;
  }
}

.pageContent {
  flex-grow: 1;
  padding: 20px;
  background: #f8fafc;
  overflow-y: auto;
}
